<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% comment %}
      Below, we're either dealing with a generic page or a page from the
      specification collection. Generic pages have a title, so we identify
      them that way. For specification pages, we build the title dynamically to
      take into account the version number and its relationship to the latest version.
    {% endcomment %}

    {% if page.title %}
      {% comment %}We're on a generic page.{% endcomment %}
      {% assign page_title = page.title %}

    {% else %}
      {% capture page_title %}
        {% include title_for_version.md is_latest_version=page.is_latest_version is_upcoming_version=page.is_upcoming_version version=page.version %}
      {% endcapture %}
    {% endif %}
    <title>JSON API &mdash; {{page_title|strip }}</title>

    <link href="{{ site.github.url }}/stylesheets/normalize.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.github.url }}/stylesheets/all.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.github.url }}/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <script src="{{ site.github.url }}/javascripts/jquery-2.2.2.min.js"></script>
    <script src="{{ site.github.url }}/javascripts/all.js" type="text/javascript"></script>
    <script src="{{ site.github.url }}/javascripts/highlight.pack.js"></script>
    <script>hljs.configure({classPrefix: ''}); hljs.initHighlightingOnLoad();</script>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.github.url }}/alt-favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.github.url }}/alt-favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.github.url }}/alt-favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.github.url }}/alt-favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.github.url }}/alt-favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.github.url }}/alt-favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.github.url }}/alt-favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/alt-favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/alt-favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ site.github.url }}/alt-favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.github.url }}/alt-favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ site.github.url }}/alt-favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.github.url }}/alt-favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.github.url }}/alt-favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.github.url }}/alt-favicons/manifest.json">
    <link rel="mask-icon" href="{{ site.github.url }}/alt-favicons/safari-pinned-tab.svg" color="#0b4e22">
    <link rel="shortcut icon" href="{{ site.github.url }}/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/alt-favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/alt-favicons/browserconfig.xml">
    <meta name="theme-color" content="#0b4e22">
  </head>

  <body>
     <nav class="site-nav">
      <div class="nav-inner">
        <ul>
          {% assign url = page.url|remove:'index.html' %}
          {% for link in site.navigation %}
            <li {% if url == link.url %}class="active"{% endif %}><a href="{{ site.github.url }}{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
          {% endfor %}
          <li class="version">
            <a href="{{ site.github.url }}/format/#status" class="pill">v{{ site.latest_version }} <span class="stable">Stable</span></a>
          </li>
        </ul>
      </div>
    </nav>
    {% if page.show_masthead %}
      <header>
        <div class="content">
          <h1>JSON API</h1>
          <h2>A specification for building APIs in JSON</h2>
          <div class="quicklinks">
            {% for link in site.quicklinks %}
                {% if link.redirect %}
                    <a href="{{ site.github.url }}{{link.url}}" title="{{link.title}}">{{link.title}}</a>
                {% else %}
                    <a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a>
                {% endif %}
            {% endfor %}
          </div>
        </div>
      </header>
    {% endif %}
    <div class="site-wrapper">
      {% if page.show_sidebar %}
        <div class="sidebar">
          <nav class="document-outline" id="document-outline">
            {% comment %}
              Substite the version picker for the sidebar title on spec pages.
            {% endcomment %}
            {% if page.is_spec_page %}
              <div id="version-picker-wrapper" class="sidebar-top">
                <label for="version-picker">Version: </label>
                <select class="version-picker" id="version-picker">
                  <option value="{{ site.github.url }}/format/"
                    {% if page.is_latest_version %}selected{% endif %}
                  >
                    Latest Version (v{{ site.latest_version }})
                  </option>
                  <option
                    value="{{ site.github.url }}/format/upcoming/"
                    {% if page.is_upcoming_version %}selected{% endif %}
                  >
                    Upcoming Version (v{{ site.latest_version|plus:0.1 }})
                  </option>
                  <optgroup label="Old Versions/Permalinks">
                    {% for spec_draft in site.format|sort:'version' %}
                      {% if spec_draft.version and spec_draft.path contains 'index' %}
                        <option value="{{ site.github.url }}/format/{{spec_draft.version}}"
                          {% if page.version == spec_draft.version %}selected{% endif%}
                        >
                          v{{spec_draft.version}}
                        </option>
                      {%endif %}
                    {% endfor %}
                  </optgroup>
                </select>
              </div>
            {% else %}
              <h1 class="sidebar-top">{{ page.title }}</h1>
            {% endif %}
          </nav>
        </div>
      {% endif %}
      <div class="content">
        {% unless page.show_masthead %}
          <h1>
            {% if page.is_spec_page %}
              {{ page_title }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
        {% endunless %}
        <section>
          {% if page.is_spec_page %}
            {% capture status %}
              {% include status.md version=page.version is_latest_version=page.is_latest_version is_upcoming_version=page.is_upcoming_version %}
            {% endcapture %}
            {{ status|strip|markdownify }}
          {% endif %}
          {{ content }}
        </section>
      </div>
    </div>
    <footer>
      <div class="site-wrapper">
        <span>Built with <a href="http://jekyllrb.com/">Jekyll</a> and <a href="http://softwaremaniacs.org/soft/highlight/en/">Highlight.js</a></span>
        <span class="license">
          <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border- style: none;" alt="CC0" /></a>
        </span>
        <span class="social-links">
          <a class="twitter" href="http://twitter.com/jsonapi"><i class="icon-twitter"></i><span>Twitter</span></a>
          <a class="github" href="https://github.com/json-api"><i class="icon-github"></i><span>GitHub</span></a>
          <a class="forum" href="http://discuss.jsonapi.org"><i class="icon-forum"></i><span>Discussion Forum</span></a>
        </span>
      </div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40609539-1', 'jsonapi.org');
      ga('send', 'pageview');

    </script>
  </body>

</html>
